/********************FONTS************************/

$f-muli:'Muli';
$f-workspace:'Work Sans',
sans-serif;
$w-thin:200;
$w-reg:300;
$w-bold:600;

/********************COLORS************************/

$black: #000000;
$medium-black:#252525;
$light-black:#474747;
$white: #ffffff;
$light-grey:rgb(218, 216, 216);
$neon-green:rgb(0, 255, 213);
$neon-green-light:rgb(133, 255, 235);
$neon-purple:rgb(174, 0, 255);

/*****************SPACES*************/

$sp-xs:5px;
$sp-sm:10px;
$sp-sm-md:20px;
$sp-md:25px;
$sp-lg:30px;
$sp-vlg:50px;
$sp-ulg:100px;