{% extends 'base.html' %} 
{% block content%}
<div class="password">
  <h1>Password reset sent</h1> 
  <div class="password__inner text-center">
    <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
    <h6>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
  </div>
  <div class="password__link text-center">
    <a href="{% url 'home' %}">Return to home page</a>
  </div>
</div>
{% endblock%}