{% extends 'base.html' %} 
{% block content %}

<div class="password">
<h1>Welcome to the Password Reset Page</h1>
<div class="password__inner text-center">
  <h3>
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h3>
</div>
<br/>

<form class="password__form" action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <button class="password__form-button" type="submit" />Send Email<button>
  </form><br/>
  <div class="password__link">
    <a href="{% url 'home' %}">Return to home page</a>
  </div>
</div>
{% endblock%}